src/Python/.idea/.gitignore
src/Python/.idea/misc.xml
src/Python/.idea/modules.xml
src/Python/.idea/Python.iml
src/Python/.idea/vcs.xml
src/Python/.idea/inspectionProfiles/profiles_settings.xml
src/Python/.idea/inspectionProfiles/Project_Default.xml
